@import "../../scss/variables";
@import "../../scss/mixins";

* {
    font-family: 'Inter', sans-serif;
}

button, a {
    font-size: 14px;
}

.headerMain {
    @include flex-container(center, end);

    flex-wrap: wrap;
    padding: 8px $padd;
    background-color: $dark;
}

.headerMain-SignIn {
    @include flex-container(center, space-around);
    @include border-radius(none, none);

    background-color: $none;
    color: $white;
    width: 70px;
    padding: .5em 0em;
    margin-right: 24px;
    cursor: pointer;
}

.headerMain-newAdvert-button {
    @include flex-container(center, space-around);
    @include border-radius(none, 4px);

    background-color: $primary;
    color: $white;
    width: 179px;
    padding: 6px 12px;
    cursor: $click;
}

.headerAdv {
    @include flex-container(center, space-between);

    margin: 24px 16%;
    flex-wrap: wrap;
}

.headerAdv-title {
    background-color: $none;
    color: $dark;
    border: none;
    font-size: 25px;
    font-weight: 700;
}

.headerAdv-menu {
    @include flex-container(center, space-between);
    @include border-radius(1px solid $primary, 4px);

    background-color: $none;
    color: $primary;
    height: 32px;
    width: 150px;
    padding: 4px 12px;
    cursor: $click;
}

.headerAdv-menu-text {
    font-weight: 500;
}

.headerAdv-search {
    @include flex-container(center, center);

    width: 55%; height: 32px;
}

.headerAdv-search-input {
    @include border-radius(1px solid $lightGray, 4px 0 0 4px);

    background-color: $none;
    outline: none;
    width: calc(100% - 90px);
    padding: 6px 12px;
    font-size: 14px;
    color: $dark;
}

.headerAdv-search-button {
    @include flex-container(center, space-between);
    @include border-radius(none, 0 4px 4px 0);

    width: 90px;
    background-color: $primary;
    color: $white;
    padding: 7px 12px;
    cursor: $click;
}