<div class="page-text-info">
	<span class="info-text">Рекомендации для вас</span>
</div>
<div class="main-container">
	<div class="AdvertS-container">
		<div class="AdvertS-container-template" *ngFor="let item of items">
			<div class="img-block guitar"></div>
			<div class="main-info">
				<div class="AdvertS-container-template-main">
					<span class="AdvertS-container-template-title">
						{{ item.name }}
					</span>
					<span class="AdvertS-container-template-price">
						{{ item.price | currency:'RUB':'symbol-narrow'}}
					</span>
				</div>
				<div class="AdvertS-container-template-info">
					<span class="AdvertS-container-template-geo">
						{{ item.location}}
					</span>
					<span class="AdvertS-container-template-time">
						{{ item.time }}
					</span>
				</div>
			</div>   
		</div>
	</div>
</div>