<div class="page-text-info">
	<span class="info-text">Рекомендации для вас</span>
</div>
<div class="main-container">
	<div class="AdvertS-container">
		<div class="AdvertS-container-template">
			<div class="img-block guitar"></div>
			<div class="main-info">
				<div class="AdvertS-container-template-main">
					<span class="AdvertS-container-template-title">
						Гитара Fender
					</span>
					<span class="AdvertS-container-template-price">
						20 000₽
					</span>
				</div>
				<div class="AdvertS-container-template-info">
					<span class="AdvertS-container-template-geo">
						Москва, Ленинский проспект
					</span>
					<span class="AdvertS-container-template-time">
						Сегодня 14:12
					</span>
				</div>
			</div>   
		</div>
	</div>
</div>