@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.main-container { 
    @include flex-container(center, normal);
}

.page-text-info {
    margin-bottom: 15px;
}

.info-text {
    font-weight: 600;
    font-size: 18px;

    color: $dark;
}

.AdvertS-container {
    display: grid; width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    grid-auto-flow: dense;
}

.AdvertS-container-template {
    display: grid; grid-row-gap: 5px;
    cursor: $click;
}

.AdvertS-container-template span {
    display: block;
}

.img-info {
    height: 12em; background-size: 100%;
    border-radius: 4px; transition: .5s;
}

.main-info {
    display: grid; grid-row-gap: 3px;
    grid-template-rows: repeat(2, auto);
}

.AdvertS-container-template-main {
    display: grid;
    grid-template-rows: repeat(2, 23px);
    font-weight: 600;
    align-items: center;
}

.AdvertS-container-template-title {
    color: $primary;
}

.AdvertS-container-template-price {
    color: $dark;
}

.AdvertS-container-template-info {
    display: grid; 
    color: $gray;
    grid-template-rows: repeat(2, 18px);
    font-weight: 400;
    font-size: 12px;
    align-items: center;
}

.AdvertS-container-template:hover .img-info {
    background-size: 105%;
}

.AdvertS-container-template:hover .AdvertS-container-template-title {
    color: $primaryHover;
}