// Colors

$none: transparent;

$white: #FFFFFF;
$primary: #3B82F6;
$darkPrimary: #1E3A8A;
$gray: #64748B;
$lightGray: #CBD5E1;
$green: #22C55E;
$dark: #1E293B;

// Params

$padd: 16%;
$click: pointer;